<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Github Repositories Search</title>
  <script src="lib/angular.min.js"></script>
  <script src="js/app.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="searchpage" ng-controller="SearchListController">
    <h1 ng-hide="results">Github Repositories Search Query</h1>
	<form class="navbar-form" ng-submit="makeQuery(1)">
		<h3>Query Parameters: </h3>
		<label>Name: </label>
		<input  class="form-control" ng-model="searchName" autofocus>
		<select ng-model="sortBy" class="btn dropdown-toggle">
			<option value="stars">Stars</option>
			<option value="forks">Forks</option>
			<option value="updated">Updated</option>
		</select>
		<label class="searchOrder">
		<input type="radio" ng-model="searchOrder" value="desc" checked>
		Descending
	</label>
	<label class="searchOrder">
      <input type="radio" ng-model="searchOrder"  value="asc">
      Ascending
	</label>
		<button class="btn btn-success" ng-click="makeQuery(1)">Query!</button> 
	</form>
	<ul>
		<li class="repo navbar navbar-default row" ng-repeat="item in results.items">
			<a ng-href="{{item.html_url}}">
				<div class="infoText col-md-6">
					<h4><span>Repository Id: </span>{{item.id}}<h4>
					<h4><span>Name Repository: </span>{{item.name}}<h4>
					<h4><span>Fullname Repository: </span>{{item.full_name}}<h4>
					<h4><span>Updated at: </span>{{item.updated_at}}<h4>
					<h4><span>Language: </span>{{item.language}}<h4>					
				</div>
				<div class="owner navbar navbar-default col-md-4">
					<h4><span>Owner: </span></h4>
					<img  class="thumbnail" ng-src="{{item.owner.avatar_url}}">
					<h3>{{item.owner.login}}</h3>
				</div>
				<div class="row" smallInfo>
					<h4 class="col-md-1"><span>Forks: </span>{{item.forks_count}}<h4
					<h4 class="col-md-1"><span>Size: </span>{{item.size}}kb<h4>
				</div>
			</a>
		</li>
	</ul>
			<nav class="pageFooter" ng-show="results">
				<div class="row">
					<div class="col-md-4">
			   			<button type="button" class="btn btn-default backButton" ng-if="actualPage > 1" ng-click="movePageBack()">Previous</button>	
			    	</div>
			    	<div class="col-md-4">
			    		<form class="navbar-form" ng-submit="goToPage(goPage, Math.ceil(results.total_count/itemsPerPage))">
			    			<input type="text" class="form-control page" ng-model="goPage" placeholder= {{actualPage}}/{{Math.ceil(results.total_count/itemsPerPage)}}>
			    		</form>
			    	</div>
			    	<div class="col-md-4">
			   			<button type="button" class="btn btn-default frontButton" ng-if="actualPage < Math.ceil(results.total_count/itemsPerPage)" ng-click="movePageForward()">Next</button>
			    	</div>
			    </div>
			</nav>
		</div>
</body>
</html>